<footer class="footer" data-rise data-rise-delay="0.12">
  <span>Arden de Raaij</span>
  <a href="mailto:mail@arden.nl">mail@arden.nl</a>
  <span class="footer-spacer"></span>
  <span>Made in Lisbon</span>
</footer>
